@tailwind base;
@tailwind components;
@tailwind utilities;

.moderustic {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.u-fade-type-down {
  transform: translateY(100px);
  opacity: 0;
}

.u-fade-type-down.is-active {
  transition: 2s;
  transform: translateY(0);
  opacity: 1;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}